///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.



// Standardise some UI treatments.

$global-font-family: Arial, Helvetica, sans-serif !default;
$global-font-color: #000000; 
$global-transition: all 300ms ease-in-out !default;
